<!DOCTYPE html>
<html>
<head>
    <title>Sign up - ProjectBoard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://octicons.github.com/components/octicons/octicons/octicons.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include navigation %>
    <div class="container">
        <div class="col-sm-5">
            <h2>Sign Up!</h2>
          <% while(message = flash.shift()) { %>
            <p class="alert alert-<%=message.type%>" role="alert"><%-message.message%></p>
          <% } %>
            <form class="form-horizontal" action="/register" method="post">
              <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="username" name="username" placeholder="Username on Slack">
                </div>
              </div>
              <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                </div>
              <div class="form-group">
                <label for="fullname" class="col-sm-2 control-label">Full Name</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Archibald Shenanigans">
                </div>
              </div>
              <!--<div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <div class="g-recaptcha" data-sitekey="6LcXdhETAAAAAIwHz0w6sqn9R3dnwHXwLfskkzVc"></div>
                </div>
              </div>-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary" name="login-btn">Sign me up!</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-7">
            <div class="well">
                <h2>How do I Register?</h2>

              <p class="lead">
                First, enter the username you use in our slack channel.
              </p>
              <p>
                Then, fill out the rest of the information. You will then receive a message on Slack with your
                confirmation link. As soon as you click that link, yur account will be done!
              </p>

              <p>
                <b>Q: What if I don't have a account in your slack team?</b><br />
                A: Head on over to <a href="https://tylerwebdev.io/">tylerwebdev.io</a> and learn how to join the
                organization and our slack team.
              </p>
              <p>
                <b>Q: Why do you want my email?</b><br />
                You can customize notifications sent to yur email within your ProjectBoard account. By default, no
                notifications will ever be sent to your email.
              </p>
            </div>
        </div>
    </div>
    <% include footer %>
</body>
</html>
